<p id="notice"><%= notice %></p>

<p>
  <strong>Tittle:</strong>
  <%= @course.tittle %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Content:</strong>
  <%= @course.content %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @course.duration %>
</p>

<p>
  <strong>Price:</strong>
  <%= @course.price %>
</p>

<%= link_to 'Edit', edit_school_course_path(@course.school, @course) %> |
<%= link_to 'Back', school_courses_path(@course.school) %>
